<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilecityguide"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MobileCityGuideActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Help"
            android:label="Help"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.About"
            android:label="About"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activity.Connect"
            android:label="Connection" >
        </activity>
        <activity
            android:name=".activity.Start"
            android:label="Let&apos;s go" >
        </activity>
        <activity
            android:name=".activity.CreateProfile"
            android:label="Create new profile" >
        </activity>
        <activity
            android:name=".activity.CreateItinerary"
            android:label="Create new Itinerary" >
        </activity>
        <activity
            android:name=".activity.CitiesList"
            android:label="Choose a city" >
        </activity>
        <activity
            android:name=".activity.ItinerariesList"
            android:label="Choose an itinerary" >
        </activity>
        <activity
            android:name=".activity.PoisList"
            android:label="Start visiting" >
        </activity>
        <activity
            android:name=".activity.FreeWalk"
            android:label="Free walk" >
        </activity>
        <activity
            android:name=".activity.AddPoi"
            android:label="Add POI" >
        </activity>
         <activity
            android:name=".activity.DeletePoi"
            android:label="Delete POI" >
        </activity>
        <activity
            android:name=".activity.PoiDetails"
            android:label="POI infos" >
		</activity>
		<activity
            android:name=".activity.Mode"
            android:label="Visit mode" >
       	</activity>
       	<activity
            android:name=".activity.Directions"
            android:label="Guided tour directions" >
       	</activity>
       	<activity
            android:name=".activity.DeleteItinerary"
            android:label="Delete itinerary" >
        </activity>
    </application>

</manifest>
