<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobilecityguide"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MobileCityGuideActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       
        <activity android:name=".activity.Help"
				android:label="Help" 
				android:theme="@android:style/Theme.Dialog">
		</activity>
		
        <activity android:name=".activity.About"
				android:label="About" 
				android:theme="@android:style/Theme.Dialog">
		</activity>
        
        <activity android:name=".activity.Connect"
				android:label="Connection">
		</activity>
		
        <activity android:name=".activity.Registrer"
				android:label="Registering">
		</activity>
		
        <activity android:name=".activity.MainMenu"
				android:label="Main Menu">
		</activity>

        <activity android:name=".activity.MyPlace"
				android:label="Choose your mode">
		</activity>

        <activity android:name=".activity.Settings"
				android:label="Settings">
		</activity>
		
        <activity android:name=".activity.Itinerary"
				android:label="Itinerary">
		</activity>
		
    </application>

</manifest>